.meter-container {
  position: absolute;
  inset: var(--space-3xs);
  left: unset;
  width: var(--space-2xs);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  /* border: 1px solid var(--darkgray); */
  box-shadow: black 2px 2px 10px 1px;
}

.anger-bg {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--yellow);
}

.anger-meter {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--red);
  transition: height 0.5s;
  transition-timing-function: ease-in;
}

.shake1 {
  animation: shake 0.2s linear infinite;
  --shakeAmt: 2%;
  --shakeDeg: 0.2deg;
}

.shake2 {
  animation: shake 0.2s linear infinite;
  --shakeAmt: 10%;
  --shakeDeg: 0.7deg;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(var(--shakeDeg));
  }
  25% {
    transform: translateX(var(--shakeAmt));
  }
  75% {
    transform: translateX(calc(-1 * var(--shakeAmt))) rotate(calc(-1 * var(--shakeDeg)));
  }
  100% {
    transform: translateX(0);
  }
}

.catface {
  width: var(--space-l);
  height: var(--space-l);
  position: absolute;
  bottom: var(--space-s);
  right: 100%;
}

.cut-in-wrap {
  position: absolute;
  /* background-color: #FFF5; */
  background-color: #00000099;
  inset: 0;
  
  display: flex;
  align-items: center;
  animation: cut-appear 2s forwards;
  overflow: hidden;

}

@keyframes cut-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cut-in-banner {
  width: 100%;
  background-color: #000000AA;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  animation: cut-slice 2s forwards;
  overflow: hidden;
}


@keyframes cut-slice {
  0% {
    max-height: 0;
    opacity: 0;
  }
  25% {
    opacity: 1;
    max-height: 0;
  }
  80% {
    max-height: 1000px;
  }
  100% {
    max-height: 1000px;
  }
}

.cut-in-img {
  display: block;
  width: 100%;
  animation: cut-slide 2s forwards;
  user-select: none;
}

@keyframes cut-slide {
  0% {
    transform: translate(100%);
  }
  25% {
    transform: translate(100%);
  }
  70% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}