.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), var(--space-s));
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: stretch;
  border: 1px solid var(--darkgray);
}

.grid-container .cell {
  border: 1px solid var(--darkgray);

}
