.ovenSquare {
  /* width: var(--space-s);
  height: var(--space-s);
  border: 1px solid var(--darkgray); */
}


.catBox {
  position: absolute;
  bottom: var(--space-3xs);
  right: calc(var(--space-3xs) * 1.5 + var(--space-2xs));
}