.dialog {
  max-width: min(60ch, 100% - 1.6rem);
  min-width: 25rem;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  max-height: calc(100vh - 3em);
  /* background-color: var(--bg-color); */
  color: black;
  border: 0.3rem solid var(--text-color);
  border-radius: 1rem;
  height: max-content;
  position: relative;
}

.dialog[open] {
  animation: fade-in 300ms forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .dialog[open] {
    animation: slide-up 500ms forwards, fade-in 300ms forwards;
  }
  @keyframes slide-up {
    0% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}

.dialog::backdrop {
  background-color: black;
  opacity: 0.7;
}

.dialog[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 200ms forwards;
}

.dialog-inner {
  box-sizing: border-box;
  position: relative;
  padding: 2.4rem;
  overflow: auto;
  height: 100%;
  /* max-height: var(--space-3xl); */
  min-height: fit-content;

}

@media screen and (max-width: 32em) {
  .dialog-inner {
    padding: 2.4rem 0.8rem;
  }
}

.cooking-ad {
  width: 100%;
}

.cooking-ad1 {
  width: 100%;
  animation: growWeird 10s ease infinite forwards;
  overflow: hidden;
  max-height: 0;
  cursor: pointer;
}

.cooking-ad2 {
  width: 100%;
  animation: growWeird 20s 5s ease infinite forwards;
  overflow: hidden;
  max-height: 0;
  cursor: pointer;
}

@keyframes growWeird {
  0% {
    max-height: 0;
  }

  20% {
    max-height: 0;
  }
  40% {
    max-height: 1000px;
  }
  50% {
    max-height: 0;
  }
  100% {
    max-height: 0;
  }
}


/* .cooking-ad1 img {
  width: 100%;
} */

.cooking-ad3 {
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cooking-ad3 .adImg {
  width: 50%;
  transform-origin: right;
  transform: scaleX(0%);
  animation: slideWeird 10s 2s ease infinite;
}

@keyframes slideWeird {
  0% {
    transform: scaleX(0%);
  }
  20% {
    transform: scaleX(0%);
  }
  35% {
    transform: scaleX(100%);
  }
  65% {
    transform: scaleX(100%);
  }
  80% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(0%);
  }
}

.adImg {
  width: 100%;
  object-fit: contain;
  display: block;
}

.swope {
  background-color: var(--yellow);
  font-size: larger;
  text-align: center;
}

.loading {
  margin: auto;
  transform-origin: center center;
  width: fit-content;
  height: fit-content;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, var(--space-s));
}

p {
  padding-top: 1rem;
}
