.App {
  height: 100%;
  position: relative;
  padding: var(--space-3xs);
  background: url("./assets/counterfinal.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.hold-container {
  position: fixed;
  pointer-events: none;
  border: 2px solid var(--yellow);
  background-color: var(--darkergray);
  height: var(--space-s);
  width: var(--space-s);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  line-height: 0.8;
}

.hold-icon {
  font-size: var(--step-0);
  height: var(--step-0);
  width: var(--step-0);
}

.icon-img {
  width: 100%;
}

.hold-value {
  font-size: var(--space-3xs);
}

.action-btn {
  border: 1px solid var(--darkgray);
  color: black;
  border-radius: 5px;
  padding: var(--space-3xs) var(--space-2xs);
}
.action-btn:hover,
.action-btn:active {
  background-color: var(--yellow);
  color: white;
  cursor: pointer;
}
.action-btn:disabled {
  color: black;
  background-color: var(--lightblue);
  opacity: 0.7;
  pointer-events: none;
}

.close-btn {
  border: none;
  background: inherit;
  cursor: pointer;
}

.ordersection {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--space-3xs);
  display: flex;
  gap: var(--space-2xs);
}
.recipe-btn {
  font-size: var(--space-s);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.15s;
  background-color: lightgray;
  height: fit-content;
}
.recipe-btn:hover {
  background-color: white;
  transform: scale(1.25);
}

.cell {
  padding: 0;
  background-color: transparent;
  width: var(--space-s);
  height: var(--space-s);
  border: 2px solid var(--darkgray);
  cursor: pointer;
  display: grid;
  place-items: center;
  color: black;
  font-size: var(--step-2);
  user-select: none;
}

.gray {
  color: var(--darkergray);
}

.pink {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.cell .icon-img {
  width: var(--step-2);
}

.cell:disabled {
  pointer-events: none;
}

.selected {
  background-color: peru;
}
.tools-container {
  width: calc(var(--space-s) * 8);
  margin-inline: auto;
  /* padding-inline: calc((100vmin - var(--grid-cols) * var(--space-s)) / 2 - var(--space-3xs)); */
  align-self: flex-start;
  display: flex;
  gap: var(--space-2xs);
  margin-bottom: var(--space-2xs);
  align-items: flex-end;
}

.progress-bar {
  height: var(--space-3xs);
  background-color: var(--red);
  width: 0;
}

/* temp? */
.resource-getter {
  display: flex;
  gap: 5px;
}
.resource-getter .cell {
  color: var(--red);
  background-color: white;
}

.resource-getter .cell:hover {
  background-color: gray;
  color: var(--yellow);
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}

.fresh {
  animation: appear 0.3s cubic-bezier(.5, .5, .5, 2) forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  50% {
    opacity: 1; 
  
  }
  100% {
    opacity: 1;
    transform: scale(1);

  }
}
