:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grid-cols: 6;

  --red: #ca4b42;
  --yellow: #f1dd7e;
  --pink: #f7c7b3;
  --lightblue: #c3d4e7;
  --blue: #a4b9d4;
  --lightgray: #b6beca;
  --darkgray: #939aa6;
  --darkergray: #6d6d6d;
  --cyan: #93c9c4;

  --space-3xs: clamp(0.5rem, calc(0.25rem + 1.25vmin), 1.25rem);
  --space-2xs: clamp(0.94rem, calc(0.42rem + 2.6vmin), 2.5rem);
  --space-xs: clamp(1.44rem, calc(0.67rem + 3.85vmin), 3.75rem);
  --space-s: clamp(1.88rem, calc(0.83rem + 5.21vmin), 5rem);
  --space-m: clamp(2.81rem, calc(1.25rem + 7.81vmin), 7.5rem);
  --space-l: clamp(3.75rem, calc(1.67rem + 10.42vmin), 10rem);
  --space-xl: clamp(5.63rem, calc(2.5rem + 15.63vmin), 15rem);
  --space-2xl: clamp(7.5rem, calc(3.33rem + 20.83vmin), 20rem);
  --space-3xl: clamp(11.25rem, calc(5rem + 31.25vmin), 30rem);

  --step--2: clamp(0.65rem, calc(0.34rem + 1.58vmin), 1.6rem);
  --step--1: clamp(0.78rem, calc(0.38rem + 2.03vmin), 2rem);
  --step-0: clamp(0.94rem, calc(0.42rem + 2.6vmin), 2.5rem);
  --step-1: clamp(1.13rem, calc(0.46rem + 3.33vmin), 3.13rem);
  --step-2: clamp(1.35rem, calc(0.5rem + 4.26vmin), 3.91rem);
  --step-3: clamp(1.62rem, calc(0.53rem + 5.44vmin), 4.88rem);
  --step-4: clamp(1.94rem, calc(0.56rem + 6.93vmin), 6.1rem);
  --step-5: clamp(2.33rem, calc(0.57rem + 8.83vmin), 7.63rem);
}

img {
  user-select: none;
  user-drag: none;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100vmin;
  width: 100vmin;
  aspect-ratio: 1;
  min-width: 320px;
  min-height: 320px;
  max-width: 1280px;
  max-height: 1280px;
}

.relative {
  position: relative;
}

.bg-gray {
  background-color: gray;
}

.text-white {
  color: white;
}

.opacity-sm {
  opacity: .4;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.flex-1 {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.mr-1 {
  margin-right: var(--space-3xs);
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.transparent-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}
.transparent-btn:hover {
  outline: 2px solid var(--darkgray);
}
